	PRODUCT_NAME = 	DemoApp;

	GCC_PRECOMPILE_PREFIX_HEADER = NO;
	GCC_ENABLE_CPP_EXCEPTIONS = YES;
	GCC_ENABLE_CPP_RTTI = YES;
	
	FOUNDATION = $(SRCROOT)/../../../../Foundation
	DSP = $(SRCROOT)/../../../../DSP
	MODULAR = $(SRCROOT)/../../..
	
	HEADER_SEARCH_PATHS = $(FOUNDATION)/library/includes $(MODULAR)/library/includes $(MODULAR)/library/PeerObject $(MODULAR)/library/PluginLib/includes $(MODULAR)/library/FunctionLib
	OTHER_LDFLAGS = "$(FOUNDATION)/library/build/UninstalledProducts"/JamomaFoundation.dylib "$(MODULAR)/library/build/UninstalledProducts"/TTModular.dylib