// Xcode target configuration settings for building Max 5 Externals
//
// Changes to the settings in this file will be applied all projects
// To change settings for only one of the examples, override the settings using Xcode's target inspector.
//
// Copyright ¬© 2009, Timothy Place
// http://electrotap.com/

#include "../../../supports/max/tt-max.xcconfig"

OTHER_LDFLAGS = "$(FOUNDATION)/library/build"/JamomaFoundation.dylib "$(DSPLIB)/library/build"/JamomaDSP.dylib
