<?xml version='1.0' encoding='iso-8859-1' standalone='yes' ?>

<jamoma version='0.4'
		xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
		xsi:schemaLocation='http://jamoma.org/ file:jamoma.xsd'
>
  <preset number='1' name='default'>
    <item name='curve' type='msg_float' priority='0'>-0.000000</item>
    <item name='in_max' type='msg_float' priority='0'>1.000000</item>
    <item name='in_min' type='msg_float' priority='0'>0.000000</item>
    <item name='module_in_function' type='msg_symbol' priority='6'>button</item>
    <item name='module_in_nr' type='msg_int' priority='2'>0</item>
    <item name='module_in' type='msg_symbol' priority='1'>/mouse</item>
    <item name='module_out_function' type='msg_symbol' priority='5'>edit</item>
    <item name='module_out_nr' type='msg_int' priority='4'>1</item>
    <item name='module_out' type='msg_symbol' priority='3'>/mapper</item>
    <item name='out_max' type='msg_float' priority='0'>1.000000</item>
    <item name='out_min' type='msg_float' priority='0'>0.000000</item>
    <item name='ramp' type='msg_int' priority='0'>0</item>
    <item name='slide_down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide_up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
  <preset number='2' name='mouse'>
    <item name='curve' type='msg_float' priority='0'>-0.144828</item>
    <item name='in_max' type='msg_float' priority='0'>1.000000</item>
    <item name='in_min' type='msg_float' priority='0'>0.000000</item>
    <item name='module_in_function' type='msg_symbol' priority='6'>position/x</item>
    <item name='module_in_nr' type='msg_int' priority='2'>1</item>
    <item name='module_in' type='msg_symbol' priority='1'>/mouse</item>
    <item name='module_out_function' type='msg_symbol' priority='5'>audio/mix</item>
    <item name='module_out_nr' type='msg_int' priority='4'>1</item>
    <item name='module_out' type='msg_symbol' priority='3'>/filter~</item>
    <item name='out_max' type='msg_float' priority='0'>100.000000</item>
    <item name='out_min' type='msg_float' priority='0'>0.000000</item>
    <item name='ramp' type='msg_int' priority='0'>0</item>
    <item name='slide_down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide_up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
  <preset number='3' name='audio'>
    <item name='curve' type='msg_float' priority='0'>-0.251379</item>
    <item name='in_max' type='msg_float' priority='0'>1.000000</item>
    <item name='in_min' type='msg_float' priority='0'>0.000000</item>
    <item name='module_in_function' type='msg_symbol' priority='6'>audio/amplitude.1</item>
    <item name='module_in_nr' type='msg_int' priority='2'>0</item>
    <item name='module_in' type='msg_symbol' priority='1'>/input~</item>
    <item name='module_out_function' type='msg_symbol' priority='5'>cf</item>
    <item name='module_out_nr' type='msg_int' priority='4'>1</item>
    <item name='module_out' type='msg_symbol' priority='3'>/filter~</item>
    <item name='out_max' type='msg_float' priority='0'>11025.000000</item>
    <item name='out_min' type='msg_float' priority='0'>30.000000</item>
    <item name='ramp' type='msg_int' priority='0'>150</item>
    <item name='slide_down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide_up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
</jamoma>
