<?xml version='1.0' encoding='iso-8859-1' standalone='yes' ?>

<jamoma version='0.4'
		xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
		xsi:schemaLocation='http://jamoma.org/ file:jamoma.xsd'
>
  <preset number='1' name='default'>
    <item name='clipmode' type='msg_symbol' priority='0'>none</item>
    <item name='curve' type='msg_float' priority='0'>-0.000000</item>
    <item name='in/max' type='msg_float' priority='0'>1.000000</item>
    <item name='in/min' type='msg_float' priority='0'>0.000000</item>
    <item name='in/module/function' type='msg_symbol' priority='6'>button</item>
    <item name='in/module/name' type='msg_symbol' priority='1'>0</item>
    <item name='in/module/nr' type='msg_int' priority='2'>0</item>
    <item name='out/max' type='msg_float' priority='0'>0.000000</item>
    <item name='out/min' type='msg_float' priority='0'>0.000000</item>
    <item name='out/module/function' type='msg_symbol' priority='5'>0</item>
    <item name='out/module/name' type='msg_symbol' priority='3'>0</item>
    <item name='out/module/nr' type='msg_int' priority='4'>0</item>
    <item name='ramp' type='msg_int' priority='0'>0</item>
    <item name='slide/down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide/up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
  <preset number='2' name='mouse'>
    <item name='curve' type='msg_float' priority='0'>0.</item>
    <item name='in/max' type='msg_float' priority='0'>1.000000</item>
    <item name='in/min' type='msg_float' priority='0'>0.000000</item>
    <item name='in/module/function' type='msg_symbol' priority='6'>position/x</item>
    <item name='in/module/nr' type='msg_int' priority='2'>1</item>
    <item name='in/module/name' type='msg_symbol' priority='1'>/mouse</item>
    <item name='out/module/function' type='msg_symbol' priority='5'>audio/mix</item>
    <item name='out/module/nr' type='msg_int' priority='4'>1</item>
    <item name='out/module/name' type='msg_symbol' priority='3'>/filter~</item>
    <item name='out/max' type='msg_float' priority='0'>100.000000</item>
    <item name='out/min' type='msg_float' priority='0'>0.000000</item>
    <item name='ramp' type='msg_int' priority='0'>0</item>
    <item name='slide/down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide/up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
  <preset number='3' name='audio'>
    <item name='curve' type='msg_float' priority='0'>-0.251379</item>
    <item name='in/max' type='msg_float' priority='0'>1.000000</item>
    <item name='in/min' type='msg_float' priority='0'>0.000000</item>
    <item name='in/module/function' type='msg_symbol' priority='6'>audio/amplitude.1</item>
    <item name='in/module/name_nr' type='msg_int' priority='2'>0</item>
    <item name='in/module/name' type='msg_symbol' priority='1'>/input~</item>
    <item name='out/module/function' type='msg_symbol' priority='5'>cf</item>
    <item name='out/module/nr' type='msg_int' priority='4'>1</item>
    <item name='out/module/name' type='msg_symbol' priority='3'>/filter~</item>
    <item name='out/max' type='msg_float' priority='0'>11025.000000</item>
    <item name='out/min' type='msg_float' priority='0'>30.000000</item>
    <item name='ramp' type='msg_int' priority='0'>150</item>
    <item name='slide/down' type='msg_float' priority='0'>0.000000</item>
    <item name='slide/up' type='msg_float' priority='0'>0.000000</item>
    <item name='ui/freeze' type='msg_toggle' priority='0'>0</item>
  </preset>
</jamoma>
