[submodule "Modules/Graphics"]
	path = Modules/Graphics
	url = git://github.com/jamoma/JamomaGraphics.git
[submodule "Modules/DSP"]
	path = Modules/DSP
	url = git://github.com/jamoma/JamomaDSP.git
[submodule "Modules/Modular"]
	path = Modules/Modular
	url = git://github.com/jamoma/JamomaModular.git
[submodule "Modules/Foundation"]
	path = Modules/Foundation
	url = git://github.com/jamoma/JamomaFoundation.git
[submodule "Modules/Ruby"]
	path = Modules/Ruby
	url = git://github.com/jamoma/JamomaRuby.git
[submodule "Tools/supports"]
	path = Tools/supports
	url = git://github.com/jamoma/JamomaSupport.git
[submodule "Modules/Test"]
	path = Modules/Test
	url = git://github.com/jamoma/JamomaTest.git
[submodule "Modules/Graph"]
	path = Modules/Graph
	url = git://github.com/jamoma/JamomaGraph.git
[submodule "Modules/AudioGraph"]
	path = Modules/AudioGraph
	url = git://github.com/jamoma/JamomaAudioGraph.git

[submodule "Modules/Dependencies"]
	path = Modules/Dependencies
	url = git://github.com/jln-/JamomaDependencies.git
[submodule "Modules/TheGitter"]
	path = Modules/TheGitter
	url = git://github.com/bltzr/JamomaGitter.git
	
[submodule "UserLib/Jamoma.Ircam.FTM"]
	path = UserLib/Jamoma.Ircam.FTM
	url = git://github.com/lossius/Jamoma.Ircam.FTM.git
[submodule "UserLib/Tap.Tools"]
	path = UserLib/Tap.Tools
	url = git://github.com/tap/TapToolsForJamoma.git
[submodule "UserLib/ViMiC"]
	path = UserLib/ViMiC
	url = git://github.com/Nilson/ViMiC-and-friends.git
[submodule "UserLib/Schumacher"]
	path = UserLib/Schumacher
	url = git://github.com/marlon/Schumacher.git
[submodule "UserLib/Z"]
	path = UserLib/Z
	url = git://github.com/bltzr/Z.git
[submodule "UserLib/Jamoma.Ircam.Spat"]
	path = UserLib/Jamoma.Ircam.Spat
	url = git://github.com/lossius/Jamoma.Ircam.Spat.git
[submodule "UserLib/Jamoma.Ircam.IMTR"]
	path = UserLib/Jamoma.Ircam.IMTR
	url = git://github.com/lossius/Jamoma.Ircam.IMTR
[submodule "UserLib/support"]
	path = UserLib/support
	url = git://github.com/Nilson/JamomaUserLibSupport.git
[submodule "UserLib/Holophon"]
	path = UserLib/Holophon
	url = git://github.com/Nilson/Holophon.git
[submodule "UserLib/NavNav"]
	path = UserLib/NavNav
	url = git://github.com/navid/NavNav.git
[submodule "UserLib/GDIF"]
	path = UserLib/GDIF
	url = git://github.com/krisny/Jamoma.GDIF.git
