[submodule "Modules/Graphics"]
	path = Modules/Graphics
	url = git://github.com/tap/JamomaGraphics.git
[submodule "Modules/Multicore"]
	path = Modules/Multicore
	url = git://github.com/tap/JamomaMulticore.git
[submodule "Modules/DSP"]
	path = Modules/DSP
	url = git://github.com/tap/JamomaDSP.git
[submodule "Modules/Modular"]
	path = Modules/Modular
	url = git://github.com/tap/JamomaModular.git
[submodule "Modules/Foundation"]
	path = Modules/Foundation
	url = git://github.com/tap/JamomaFoundation.git
[submodule "Modules/Publications"]
	path = Modules/Publications
	url = git://github.com/tap/JamomaPublications.git
[submodule "UserLib/Tap.Tools"]
	path = UserLib/Tap.Tools
	url = git://github.com/tap/TapToolsForJamoma.git
[submodule "UserLib/ViMiC"]
	path = UserLib/ViMiC
	url = git://github.com/Nilson/ViMiC-and-friends.git
[submodule "UserLib/Schumacher"]
	path = UserLib/Schumacher
	url = git://github.com/marlon/Schumacher.git
[submodule "UserLib/Z"]
	path = UserLib/Z
	url = git://github.com/bltzr/Z.git
[submodule "UserLib/Jamoma.Ircam.Spat"]
	path = UserLib/Jamoma.Ircam.Spat
	url = git://github.com/lossius/Jamoma.Ircam.Spat.git
[submodule "Tools/testlib/rosc"]
	path = Tools/testlib/rosc
	url = git://github.com/tap/rosc.git
[submodule "UserLib/Jamoma.Ircam.IMTR"]
	path = UserLib/Jamoma.Ircam.IMTR
	url = git://github.com/lossius/Jamoma.Ircam.IMTR
[submodule "UserLib/support"]
	path = UserLib/support
	url = git://github.com/Nilson/JamomaUserLibSupport.git
[submodule "UserLib/HoloEdit"]
	path = UserLib/HoloEdit
	url = git://github.com/Nilson/Holophone.git
[submodule "UserLib/SDIF"]
	path = UserLib/SDIF
	url = git://github.com/krisny/SDIF.git
