// Xcode target configuration settings for the Minuit Plugin.
// Used as the basis for Xcode projects to build Max externals.
//
// by Timothy Place
// Copyright © 2008, Cycling '74


// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = 0.1
SVNREV = $Rev$


// Paths
DSTROOT = /
INSTALL_PATH = /usr/local/jamoma/extensions
SKIP_INSTALL = YES


// Special Files
INFOPLIST_FILE = $(SRCROOT)/Info.plist
GCC_PREFIX_HEADER = $(SRCROOT)/../prefix.pch
HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../../../Foundation/library/includes" "$(SRCROOT)/Minuit" "$(SRCROOT)/../NetworkCommunication"
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../../../Foundation/library/build/UninstalledProducts"

// Per architecture and deployment settings
SDKROOT = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
SDKROOT[arch=ppc] = $(DEVELOPER_DIR)/SDKs/MacOSX10.4u.sdk
SDKROOT[arch=i386] = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
SDKROOT[arch=x86_64] = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
GCC_VERSION[arch=ppc] = 4.0
GCC_VERSION[arch=i386] = 4.2
GCC_VERSION[arch=x86_64] = 4.2
MACOSX_DEPLOYMENT_TARGET = 10.6


// Static Configuration
WRAPPER_EXTENSION = ttdylib
EXECUTABLE_EXTENSION = ttdylib
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
