body {
	margin: 0px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight:100;
	padding-top: 1em;
	background-color: #FFCC66;
	text-align: right;
	margin: 0;
}


h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:100;
	background-color: #8888FF;
	border: 10px solid #8888FF;
	margin: 0;
	text-align: right;
}

h3 {
	background-color: #b6a7ff;
	border: 10px solid #b6a7ff;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:100;
	margin: 10px;
}

h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:100;
	text-align:center;
	line-height: 1.2;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:100;
	margin: 10px;
}

img {
	float: left;
	padding: 10px 10px 0px 0px;
}


.objectname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}



.instructionName {
	font-family: "Courier New", Courier, mono;
	background-color: #D7CCCC;
	vertical-align: top;
}
.moduleName {
	font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
	font-size: 2em;
	background-color: #c5c5c5;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}
.moduleDescription {
	font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
	font-size: 1em;
	background-color: #000000;
	color: #c5c5c5;
	text-align: right;
	vertical-align: top;
}
.tableHeading1 {
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
	font-weight: bold;
	background-color: #b6a7ff;
	text-align: left;
	vertical-align: top;
}
.tableHeading2 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: top;
}
table {
	width: 95%;
	border: 0px;
	margin: 10px;
}
.instructionKind {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionType {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionRange {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionClipmode {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionRamp {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionRepetitions {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionDescription {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
