h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-top: 1em;
}
p {
	font-family: "Times New Roman", Times, serif;
}
.objectname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.instructionName {
	font-family: "Courier New", Courier, mono;
	background-color: #D7CCCC;
	vertical-align: top;
}
.moduleName {
	font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
	font-size: 2em;
	background-color: #c5c5c5;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}
.moduleDescription {
	font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
	font-size: 1em;
	background-color: #000000;
	color: #c5c5c5;
	text-align: right;
	vertical-align: top;
}
.tableHeading1 {
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
	font-weight: bold;
	background-color: #b6a7ff;
	text-align: left;
	vertical-align: top;
}
.tableHeading2 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: top;
}
table {
	width: 100%;
	border: 0px;
}
.instructionKind {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionType {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionRange {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionClipmode {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionRamp {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
.instructionRepetitions {
	font-family: "Times New Roman", Times, serif;
	background-color: #D7D7CC;
	vertical-align: top;
}
.instructionDescription {
	font-family: "Times New Roman", Times, serif;
	background-color: #DDDDDD;
	vertical-align: top;
}
