// Xcode target configuration settings for building Max 5 Externals
//
// Changes to the settings in this file will be applied all projects
// To change settings for only one of the examples, override the settings using Xcode's target inspector.
//
// Copyright ¬© 2009, Timothy Place
// http://electrotap.com/


// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_IDENTIFIER = $(PROJECT_NAME)
PRODUCT_VERSION = 0.6.0a11
SVNREV = d6877


// Paths
C74SUPPORT =	$(SRCROOT)/../../../supports/objectivemax/SDKs/Max5/c74support
DSPLIB =		$(SRCROOT)/../../../../DSP
GRAPH =			$(SRCROOT)/../../../../Graph
GRAPHICS =		$(SRCROOT)/../../../../Graphics
AUDIOGRAPH =		$(SRCROOT)/../../../../AudioGraph
FOUNDATION =	$(SRCROOT)/../../../../Foundation
MODULAR =		$(SRCROOT)/../../../../Modular
BUILDS =		$(SRCROOT)/../../../../../Builds/MaxMSP

HEADER_SEARCH_PATHS = $(DEVELOPER_DIR)/Headers/FlatCarbon "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes" "$(SRCROOT)/.." "$(FOUNDATION)/library/includes" "$(DSPLIB)/library/includes" "$(GRAPH)/library/includes" "$(GRAPHICS)/library/includes" "$(AUDIOGRAPH)/library/includes" "$(MODULAR)/library/**" /usr/include/libxml2
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"
DSTROOT = $(BUILDS)
// (This next path is relative to DSTROOT)
INSTALL_PATH = /


// Special Files
GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
INFOPLIST_FILE = $(SRCROOT)/../../../supports/max/Info.plist


// Per architecture and deployment settings
ARCHS = i386
MACOSX_DEPLOYMENT_TARGET = 10.6
SDKROOT = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
//SDKROOT[arch=i386] = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
//SDKROOT[arch=x86_64] = $(DEVELOPER_DIR)/SDKs/MacOSX10.6.sdk
//GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_VERSION = com.apple.compilers.llvmgcc42
GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_AUTO_VECTORIZATION = YES;
GCC_UNROLL_LOOPS = YES;


// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas -Wno-deprecated
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
