// Xcode target configuration settings for building Max 5 Externals
//
// Changes to the settings in this file will be applied all projects
// To change settings for only one of the examples, override the settings using Xcode's target inspector.
//
// Copyright ¬© 2009, Timothy Place
// http://electrotap.com/

#include "../../../../../Core/Shared/max/tt-max.xcconfig"

OTHER_LDFLAGS = "$(FOUNDATION)/library/build"/JamomaFoundation.dylib "$(DSPLIB)/library/build"/JamomaDSP.dylib "$(GRAPH)/library/build"/JamomaGraph.dylib "$(AUDIOGRAPH)/library/build"/JamomaAudioGraph.dylib "$(MODULAR)/library/build"/JamomaModular.dylib

// Only for Théo because he is still developping Modular0.6 under 10.5...
SDKROOT = $(DEVELOPER_DIR)/SDKs/MacOSX10.5.sdk
MACOSX_DEPLOYMENT_TARGET = 10.5
